.entry {
    display: flex;
    
}

.entry > .img-container {
    width: 125px;
    height: 168px;
    overflow: hidden;
    border-radius: 5px;
    flex-shrink: 0;
}

.entry > .img-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.entry > .details {
    padding-left: 20px;
}

.location {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.location > img {
    width: 7px;
    height: 9.55px;
}

.location > p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 100%;
    letter-spacing: 0.1rem;
}

.location > a {
    margin-left: 15px;
}

.details > .description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Limit to 3 lines */
    line-clamp: 3; /* same as above, for old browser compatibility */
    overflow: hidden;
    font-size: 0.8rem;
}